<%- include('partials/header') %>

<h1>Home</h1>

<p><%= PhargraphText %></p>

<% allPosts.forEach(function(article) { %>
    <% console.log("in allposts in home.ejs") %> 
    <h1> <%= article.articleTitle %> </h1>
    <p> <%= article.articleBody.slice(0, 100) + " ..." %> <a href="/posts/<%= article._id %>">read more</a> </p>
<% }) %>

<%- include('partials/footer') %>



